

#huxblog_navbar {
  
	.nav-table {
		width: 100%;
  
    tr {
      .nav-list-td{
        margin-left: auto ;
        margin-right: auto ;
        text-align: center;
      }
    }  

	}
  
  button {
   	width: 80px;
    height: 80px;
    border-radius: 40px;
    //font-size: 20px;
    margin: 0 10px;
  }
}