#post-list-nav {
  
  .post-content {
    background-color: #eee;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    
    .post-description {
      padding-top: 0.4em;
      
      .post-description-item {
        padding-right: 10px;
        height: 100%;
        vertical-align: middle;
      }
    } 
  }
  
}

#post-list-full {

  .post-list {
    margin: 0 auto;
    overflow: auto;
    
    .post-list-item {
      .article-entry{
        .toc{
          width: 300px;
          float: right;
          background-color: #eee;
        }
      }
    }
  }
}